<h3>Council Posts</h3>
<ul id="links-list">
    <li>
        <%= link_to user_posts_path do %>
            <i class="fa fa-address-book" aria-hidden="true"></i> Your Posts
        <% end %>
    </li>
    <li>
        <%= link_to profile_path do %>
            <i class="fa fa-user-tie" aria-hidden="true"></i> Your Councils
        <% end %>
    </li>
</ul>
<p>All the Posts from Council's you have Membership in</p>