<h3><%= @council.title %></h3>
<h3>Current Members</h3>
<ul id="links-list">
	
	<li>
    <%= link_to council_path(@council) do %>
        <i class="fa fa-home" aria-hidden="true"></i>Discussion
    <% end %>
	</li>
</ul>