<div class="container" id="sign-up-form">
  <div class="row">
    <h3><%= @council.title %></h3>
    <h1>Membership Requested!</h1>

    <div class="col-sm-offset-4 col-sm-4">
      <h3></h3> 

      
      <%= link_to 'Deactivate Request', '#' %>
      <%= link_to 'Back', council_path(@council) %>
    
    </div>
  </div>
</div>