<div class="container" id="sign-up-form">
  <div class="row">
    <h1><%= @council.title %></h1>
    <h3>Request a Memebership</h3>

    <div class="col-sm-offset-4 col-sm-4">
      <h3></h3> 

      <%= link_to 	'Request Membership', council_memberships_path(@council) , 
      				:method => :post,  
      				:type => "button",  
      				:class => "btn btn-info" %>
      
      <%= link_to 	'Back', 	
      				:back,
      				:type => "button",  
					:class => "btn btn-danger" %>
    
    </div>
  </div>
</div>