      <form class="new-comment">
        <input name="post_id" type="hidden" value="<%= @post.id %>">
        <input name="user_id" type="hidden" value="<%= current_user.id %>">
        <input name="title" type="hidden" placeholder="Comment Title"></input>
        <textarea name="content" rows="3" class="form-control" placeholder="Type a message..."></textarea>
        <input type="submit" class="btn btn-dark submit-comment">
      </form>
