<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
      
      <%= render "positions/index/side_menu" %>
    
    </div><!-- side-menu -->
    <%= render "positions/index/main_content" %>

  </div><!-- row -->
</div><!-- container -->