<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @council.user.name %></div>
      <h3><%= @council.title %></h3>
      <p><%= @council.description %></p>
    </div>
  </div><!-- row -->
</div>