<div id="main-content" class="col-sm-9">
	<div id="top-content">
      <%= render "positions/index/side_menu" %>
    </div><!-- top-content -->	  
	<div id="content-list" class="row" >
		<%= render @council.positions.where(active:true) %>
	</div>
	
</div><!-- main-content -->
