<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
      <%= render "pages/user_posts/side_menu" %>
    </div><!-- side-menu -->

      <%= render "pages/user_posts/main_content" %>
    
  </div><!-- row -->
</div><!-- container -->