<div id="content-list" class='row'>
	<% if @c_members.present? %>
		<h1>Candidates</h1>
		<% @c_members.each do |m| %>
			<%= render partial: 'pos_votes/member', locals: {m: m } %> 
		<% end %>
	<% end %>
</div>
<div id="content-list" class='row'>
	<% if @members.present? %>
		<h1>Non-Candidates</h1>
		<% @members.each do |m| %>
			<%= render partial: 'pos_votes/member', locals: {m: m } %> 
		<% end %>
	<% end %>
	
</div>