<div id="main-content" class="col-sm-9">
	<div id="top-content">
   		<%= render 'pages/index/signed_in_home_page/side_menu' %>
	</div><!-- top-content -->	
	<div id="content-list" class="row">
		<%= render @councils %>
	</div><!-- council-list -->
	<div id="bottom-content" class="infinite-scroll">
		<%= will_paginate @councils %>		
	</div>
</div><!-- main-content -->

