<h3>Interactivist Community Action Network</h3>

<p>
	The Community Action Network consists of Councils that practice Interactive Democracy to come to decisions.
	</br></br>
	Each of these councils allows their members to organize to improve their community.
	</br></br>
	Request to join one that you find interesting.
</p> 
