<div id="side-menu"  class="col-sm-3">
	<h3>Community Action Councils</h3>

	<p>Each of these councils allows their members to organize to improve their community.
		Request to join one that you find interesting. </p> 
</div><!-- side-menu -->