<%= render 'councils/modal' %>
<div class="container">
  	<div class="row">
    
    	<%= render 'pages/index/signed_in_home_page/side_menu' %>
    	<%= render 'pages/index/signed_in_home_page/main_content' %>

  	</div><!-- row -->
</div><!-- container -->