<%= render 'councils/modal' %>
<div class="container">
  	<div class="row">
		
		<div id="side-menu"  class="col-sm-3"> 
    		<%= render 'pages/index/signed_in_home_page/side_menu' %>
		</div><!-- side-menu -->

    	<%= render 'pages/index/signed_in_home_page/main_content' %>

		<%= link_to("scroll to top", '#', type: "Button", class: 'btn btn-dark scrollToTop') %>


  	</div><!-- row -->
</div><!-- container -->