<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      
      <h3><%= @post.title %></h3>
      
      <p><%= @post.content %></p>
      
      <div class="posted-by">Posted by <%= @post.user.name %></div>
      <%= link_to 'Back to Council', council_path(@post.council.id) %>
      
    </div>
  </div><!-- row -->
</div>