<div id="main-content" class="col-sm-9">
	
	<div id="top-content">
		<%= render "memberships/pending/side_menu" %>
	</div><!-- top-content -->
	<div id="content-list" class="row" >
		<%= render @pending_members %>
	</div>
	
</div><!-- main-content -->