<h3>Your Councils</h3>
<ul id="links-list">
	<li>
        <%= link_to user_posts_path do %>
        	<i class="fa fa-address-book" aria-hidden="true"></i> Your Posts
        <% end %>
    </li>
    <li>
        <%= link_to user_council_posts_path do %>
        	<i class="fa fa-user-tie" aria-hidden="true"></i> Councils' Posts
        <% end %>
    </li>

    <%=current_user.city %>
</ul>