<h3>Your Councils</h3>
<p>All the Councils you have Membership in</p>
<ul>
	<li>
        <%= link_to user_posts_path do %>
        	<i class="fa fa-address-book" aria-hidden="true"></i> Your Posts
        <% end %>
    </li>
    <li>
        <%= link_to council_posts_path do %>
        	<i class="fa fa-user-tie" aria-hidden="true"></i> Councils Posts
        <% end %>
    </li>
</ul>