<div id="main-content" class="col-sm-9">
	
	<div id="top-content">
		<%= render "memberships/index/side_menu" %>
	</div><!-- top-content -->
	
	<%= render @council.memberships %>
	
</div><!-- main-content -->
