<div id="main-content" class="col-sm-9">
	
	<div id="top-content">
		<%= render "memberships/index/side_menu" %>
	</div><!-- top-content -->
	<div id="content-list" class="row" >
		<%= render @council.memberships.where(user_id: current_user.id, active: true, deactivate: false) %>
		<%= render @council.memberships.where(active: true, deactivate: false).where.not(user_id: current_user.id) %>
	</div>
	
</div><!-- main-content -->
