<p>Please wait while the council members decide on your membership</p>
<%= link_to(council_path(@membership.council), :type => 'button', :class =>'btn btn-dark') do %>
        <i class="fa fa-home" aria-hidden="true"></i> Discussion
      <% end %>