<%= render 'policies/modal' %>
<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
      
      <%= render "policies/index/side_menu" %>
    
    </div><!-- side-menu -->
	<% simple_format(@text) %>
		

    <%= render "policies/index/main_content" %>


  </div><!-- row -->
</div><!-- container -->